.jumbotron {
    background-color: #dbdbdb;
    margin: 0px;
}

.jumbotron .jumbotron-heading {
    font-weight: 300;
}

.footer {
    background-color: #dbdbdb;
    padding-top: 3rem;
    padding-bottom: 3rem;
}